$color-orange: hsl(25, 97%, 53%);
$color-very-dark-blue: hsl(216, 12%, 8%);
$color-dark-blue: hsl(213, 19%, 18%);
$color-medium-grey: hsl(216, 12%, 54%);
$color-light-grey: hsl(217, 12%, 63%);
$color-white: hsl(0, 0%, 100%);
