@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import "./sass/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: $color-very-dark-blue;

  display: flex;
  justify-content: center;
  align-items: center;
}
